<form autocomplete="on">

    <div class="row">
        <div class="col-6">
            <label for="first-name" class="label-form">First Name:</label>
        </div>
        <div class="col-6">
            <input type="text" id="first-name" name="first-name" class="text-input-form text-input-border-form"
                data-bind="value:firstname">
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label for="lastname" class="label-form">Lastname:</label>
        </div>
        <div class="col-6">
            <input type="text" id="lastname" name="lastname" class="text-input-form text-input-border-form"
                data-bind="value:lastname">
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label for="cellphone" class="label-form">Cell Phone:</label>
        </div>
        <div class="col-6">
            <input type="text" id="cellphone" name="cellphone" class="text-input-form text-input-border-form"
                data-bind="value:cellphone">
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label for="email" class="label-form">Email:</label>
        </div>
        <div class="col-6">
            <input type="text" id="email" name="email" class="text-input-form text-input-border-form"
                data-bind="value:email">
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label for="address" class="label-form">Address:</label>
        </div>
        <div class="col-6">
            <input type="text" id="address" name="address" class="text-input-form text-input-border-form"
                data-bind="value:address">
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-6">
            <label for="standNo" class="label-form">Stand Number:</label>
        </div>
        <div class="col-6">
            <input type="text" id="standNo" name="standNo" class="text-input-form text-input-border-form"
                data-bind="value:standNo">
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label for="accountNo" class="label-form">Account Number:</label>
        </div>
        <div class="col-6">
            <input type="text" id="accountNo" name="accountNo" class="text-input-form text-input-border-form"
                data-bind="value:accountNo">
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-6">
            <label for="address-level4" class="label-form">Street Address:</label>
        </div>
        <div class="col-6">
            <input type="text" id="address-level4" name="address" class="text-input-form text-input-border-form"
                data-bind="value:billingAddress1">
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label for="address-level3" class="label-form">Suburb:</label>
        </div>
        <div class="col-6">
            <input type="text" id="address-level3" name="address-level4" class="text-input-form text-input-border-form"
                data-bind="value:billingAddress2">
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label for="address-level2" class="label-form">City / Town:</label>
        </div>
        <div class="col-6">
            <input type="text" id="address-level2" name="address-level2" class="text-input-form text-input-border-form"
                data-bind="value:billingAddress3">
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label for="postal-code" class="label-form">Postal Code:</label>
        </div>
        <div class="col-6">
            <input type="text" id="postal-code" name="postal-code" class="text-input-form text-input-border-form"
                data-bind="value:postalCode">
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-6">
            .
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-6" style="width: 80%;">
                    <label for="tenant" class="label-form">Tenants</label>
                </div>
                <div class="col-6" style="width: 20%;">
                    <input type="checkbox" id="tenant" name="tenant" data-bind="checked: hasTenant">
                </div>
            </div>

        </div>
    </div>

    <div id="tenant-container" data-bind="visible: showTenantContainer">
        <div class="row">
            <div class="col-6">
                <label for="tenant-name" class="label-form">Tenant Name:</label>
            </div>
            <div class="col-6">
                <input type="text" id="tenant-name" name="tenant-name" class="text-input-form text-input-border-form"
                    data-bind="value:tenantName">
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label for="tenant-surname" class="label-form">Tenant Surname:</label>
            </div>
            <div class="col-6">
                <input type="text" id="tenant-surname" name="tenant-surname"
                    class="text-input-form text-input-border-form" data-bind="value:tenantSurname">
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label for="tenant-cellphone" class="label-form">Tenant Cell Phone:</label>
            </div>
            <div class="col-6">
                <input type="text" id="tenant-cellphone" name="tenant-cellphone"
                    class="text-input-form text-input-border-form" data-bind="value:tenantCellphone">
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label for="tenant-email" class="label-form">Tenant Email:</label>
            </div>
            <div class="col-6">
                <input type="text" id="tenant-email" name="tenant-email" class="text-input-form text-input-border-form"
                    data-bind="value:tenantEmail">
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-6">
            .
        </div>
        <div class="col-6">
            <button id="next-button" type="button" data-bind="click: saveFormData">NEXT</button>

        </div>
    </div>

</form>