<div class="customer-container">
    <div class="costumer-details">
        <H3>Costumer Details</H3>
        <div>
            <p>Account No : </p>
            <p data-bind="text:customerName"></p>
        </div>
        <div>
            <p>Stand on Map : </p>
            <p>Blah Blah For now</p>
        </div>
        <div>
            <p>Street Address : </p>
            <p>Blah Blah For now</p>
        </div>
        <div>
            <p>Fullname : </p>
            <p>Blah Blah For now</p>
        </div>
        <div>
            <p>Cellphone No : </p>
            <p>Blah Blah For now</p>
        </div>
        <div>
            <p>Email : </p>
            <p>Blah Blah For now</p>
        </div>
        <div>
            <p>Vat : </p>
            <p>Blah Blah For now</p>
        </div>
    </div>
    <div class="meter-details">
        <H3>Meter Details</H3>
        <div>
            <p>Meter Type : </p>
            <p>Blah Blah For now</p>
        </div>
        <div>
            <p>Billing Type : </p>
            <p>Blah Blah For now</p>
        </div>
        <div>
            <p>Serial No : </p>
            <p>Blah Blah For now</p>
        </div>
    </div>
</div>