<div class="customer-container">
    <div class="costumer-details">
        <H3>Costumer Details</H3>
        <div>
            <p>Account No : </p>
            <p></p>
        </div>
        <div>
            <p>Stand on Map : </p>
            <p>Blah Blah For now</p>
        </div>
        <div>
            <p>Street Address : </p>
            <p>Blah Blah For now</p>
        </div>
        <div>
            <p>Fullname : </p>
            <p data-bind="text:customer.name"></p>
        </div>
        <div>
            <p>Cellphone No : </p>
            <p data-bind="text:customer.cellphone"></p>
        </div>
        <div>
            <p>Email : </p>
            <p data-bind="text:customer.email"></p>
        </div>
        <div>
            <p>Vat : </p>
            <p>Blah Blah For now</p>
        </div>
    </div>
    <div data-bind="foreach:customer.meterList">
        <customer-meter params="meter: $data"></customer-meter>
    </div>

</div>