<div class="meter-card">
    <div class="row" style="height: 75%;">
        <div class="img-container">
            <label data-bind="attr:{id:'label-meter-image-'+$index(),'for':'meter-image-'+$index()}, 
            visible: meter.takeImage" class="img-label">
                <img src="/images/photo_camera-24px.svg" alt="Image not found" class="captured-image" />
            </label>
            <input type="file" data-bind="attr:{id: 'meter-image-'+$index()}, event:{change:testicle($index())}"
                name="meter-image" accept="image/*" capture="camera" style="display: none;">
            <div id="imagePreview" class="img-label" style="position:relative; height:100%">
                <img src="" data-bind="attr:{'id':'captured-image-'+$index()}" class="captured-image">
            </div>
        </div>
        <div class="input-container">
            <select name="meter-type" id="meter-type" class="meter-form-input" data-bind="value: meter.meterType">
                <option value="electricity">ELECTRICITY</option>
                <option value="water">WATER</option>
            </select>

            <select name="consumption-type" id="consumption-type" class="meter-form-input"
                data-bind="value: meter.consumptionType">
                <option value=" prepaid">PREPAID</option>
                <option value="postpaid">POSTPAID</option>
            </select>

            <input type="text" id="serialNo" name="serialNo" class="text-input-border-form meter-form-input"
                data-bind="textInput: meter.serialNo">
        </div>

    </div>
    <div class="row" style="float:right; height: 25%; background: rgb(1, 10, 133);">
        <button id="removeMeter" type="button" class="primaryButton" data-bind="click: removeMeter">Remove</button>
        <button id="saveMeter" type="button" class="primaryButton" data-bind="click: saveMeter">Save</button>
    </div>
</div>