/*
 * TODO: 
 * -> bring the column concept into here 
 * -> and check to see how well it can be used from here
 */

* {
    box-sizing: border-box;
}

body {
    margin: unset;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

.grid-container>div {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

/*----------------------------------------------------------------------------------------*/



/* -------------------------------------------------------------------------------------- */

/* Mobile First */
.grid-container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    gap: 10px;
    padding: 10px;
    background-color: #2196f3;
}

/* -------------------------------------------------------------------------------------- */

/*For tablets*/
@media only screen and (min-width: 481px) {
    .grid-container {
        display: grid;
        grid-template-areas:
            "header"
            "main"
            "footer";
        gap: 10px;
        padding: 10px;
        background-color: #2196f3;
    }
}

/* -------------------------------------------------------------------------------------- */

/*For laptops*/
@media only screen and (min-width: 769px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-areas:
            "header header header"
            ". main ."
            "footer footer footer";
        gap: 10px;
        padding: 10px;
        background-color: #2196f3;
    }
}

/* -------------------------------------------------------------------------------------- */

/*For Desktops*/
@media only screen and (min-width: 1025px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas:
            "header header header"
            ". main ."
            "footer footer footer";
        gap: 10px;
        padding: 10px;
        background-color: #2196f3;
    }
}