* {
  box-sizing: border-box;
}

body {
  margin: unset;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.grid-container>div {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;

}


#next-button {
  min-width: 64px;
  padding: 12px 28px;
  font-size: 24px;
  border: none;
  border-radius: 8px;
  background-color: #4caf50;
  transition-duration: 0.5s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  float: right;
}

#next-button:hover {
  color: white;
  border: none;
  background-color: #08440a;
}

/* Mobile First */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  gap: 10px;
  padding: 10px;
  background-color: #2196f3;
}

/*For tablets*/
@media only screen and (min-width: 481px) {
  .grid-container {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    gap: 10px;
    padding: 10px;
    background-color: #2196f3;
  }
}

/*For laptops*/
@media only screen and (min-width: 769px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
    gap: 10px;
    padding: 10px;
    background-color: #2196f3;
  }
}

/*For Desktops*/
@media only screen and (min-width: 1025px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
      "header header header"
      ". main ."
      "footer footer footer";
    gap: 10px;
    padding: 10px;
    background-color: #2196f3;
  }
}

.page-description {
  margin-top: 0px
}

h2 {
  text-align: center;
  font-size: 2.5em;
}

h3 {
  text-align: justify;
  font-size: 1.75em;
}

.main>p,
ol>li {
  text-align: justify;
  font-size: 1.25em;
  font-family: Arial, Helvetica, sans-serif;
}

.readable {
  text-align: justify;
  font-size: 1.25em;
  font-family: Arial, Helvetica, sans-serif;
}