* {
  box-sizing: border-box;
}

body {
  margin: unset;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.grid-container>div {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;

}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/* -------------------------------------------------------------------------------------- */

/* Mobile First */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  gap: 10px;
  padding: 10px;
  background-color: #2196f3;
}

[class*="col-"]>* {
  display: block;
  width: 100%;
  height: 32px;
}

.text-input-border-form {
  background-color: #d3d3d3;
  border: none;
  border-left: 10px solid #F66340;
}

.label-form {
  line-height: 32px;
}

/* -------------------------------------------------------------------------------------- */

/*For tablets*/
@media only screen and (min-width: 481px) {
  .grid-container {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    gap: 10px;
    padding: 10px;
    background-color: #2196f3;
  }

  [class*="col-"]>* {
    display: block;
    width: 100%;
    height: 40px;
  }

  .label-form {
    line-height: 40px;
  }
}

/* -------------------------------------------------------------------------------------- */

/*For laptops*/
@media only screen and (min-width: 769px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
    gap: 10px;
    padding: 10px;
    background-color: #2196f3;
  }

  .text-input-form {
    width: 100%;
    height: 40px;
  }

  .label-form {
    line-height: 40px;
  }
}

/* -------------------------------------------------------------------------------------- */

/*For Desktops*/
@media only screen and (min-width: 1025px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
      "header header header"
      ". main ."
      "footer footer footer";
    gap: 10px;
    padding: 10px;
    background-color: #2196f3;
  }

  .text-input-form {
    width: 100%;
    height: 40px;
  }

  .label-form {
    line-height: 40px;
  }
}

/* ------------------------------------------------------------------------------------------ */
.page-description {
  margin-top: 0px
}

h2 {
  text-align: center;
  font-size: 2.5em;
}

h3 {
  text-align: justify;
  font-size: 1.75em;
}

.main>p,
ol>li {
  text-align: justify;
  font-size: 1.25em;
  font-family: Arial, Helvetica, sans-serif;
}

.readable {
  text-align: justify;
  font-size: 1.25em;
  font-family: Arial, Helvetica, sans-serif;
}

/* .text-input-form {} */


#next-button {
  min-width: 64px;
  padding: 12px 28px;
  font-size: 24px;
  border: none;
  border-radius: 8px;
  background-color: #4caf50;
  transition-duration: 0.5s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  float: right;
}

#next-button:hover {
  color: white;
  border: none;
  background-color: #08440a;
}